*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.square{
    display: flex;
    width: 200px;
    height: 200px;
    background-color: rgb(73, 73, 192);
    margin-left: 25%;
    margin-top: 25%;
    border-radius: 5%;
}